<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="list-group">
        <input type="text" [(ngModel)]="filteredStatus">
        <br>
        <button class="btn btn-primary" (click)="onAdd()">Add Server</button>
        <br>
        <br>
        <p>App Status: {{appStatus | async}}</p>
        <!-- async is built in pipe to display value not object -->
        <hr>
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filteredStatus:'status'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge" style="float: right;">
            {{ server.status}}
          </span>
          <!-- uppercase,date:'fullDate' :->  built in pipes -->
          <!-- shorten: user defined pipe with 5 as 2nd parameter -->
          <strong>{{ server.name | shorten:15 }}</strong>
          | {{ server.instanceType | uppercase }} |
          <!-- multiple pipes : are evaluated from left to right -->  {{ server.started | date:'fullDate' | lowercase }}


        </li>
      </ul>
    </div>
  </div>
</div>
